:root {
    --saturation-factor: 1;
    --bg-hue: 210;
    --bg-sat: 13%;
    --background-primary: hsl(var(--bg-hue), var(--bg-sat), 40%);
    --background-primary-disabled: hsl(var(--bg-hue), var(--bg-sat), 28%);
    --background-secondary: hsl(var(--bg-hue), var(--bg-sat), 30%);
    --background-tertiary: hsl(var(--bg-hue), var(--bg-sat), 20%);
    --background-tertiary-alt: hsl(var(--bg-hue), var(--bg-sat), 19%);
    --background-titlebar: hsl(var(--bg-hue), var(--bg-sat), 14%);
    --background-accent: hsl(var(--bg-hue), var(--bg-sat), 50%);
    --background-gutter: hsl(var(--bg-hue), var(--bg-sat), 60%);

    --hitbox: green;
    --hitbox: none;

    --text-normal: rgb(250, 250, 255);
    --text-low-priority: rgb(210, 210, 213);
    --text-dark: hsl(240, 20%, 20%);
    --error: #cd5c5c;

    --selected-konva-stage: hsl(204, 40%, 75%);

    --play-color: #74ecb0;
    --pause-color: #ecb474;
    --stop-color: #ec7474;
    --selected-keyframe-color: hwb(204 55% 5%);
    --pause-keyframe-color: var(--pause-color);
    --stop-keyframe-color: var(--stop-color);

    --delete-color: var(--stop-color);

    --control-point-select-rect-fill: #8cc9f230;
    --control-point-stroke: #f5fffa;
    --control-point-stroke-selected: var(--selected-keyframe-color);
    --control-point-line-stroke: var(--play-color);
    --control-point-pause: var(--pause-color);
    --control-point-pause-selected: var(--selected-keyframe-color);
    --control-point-stop: var(--stop-color);
    --control-point-stop-selected: var(--selected-keyframe-color);

    --pattern-playback-vis: #74d4ec;

    --pattern-boundary: var(--background-tertiary);
    --pattern-axis: hsl(var(--bg-hue), var(--bg-sat), 17%);
    --pattern-axis: var(--pattern-boundary);
    --pattern-background: var(--background-tertiary-alt);


    --keyframe-flag-fill: var(--control-point-stroke);
    --keyframe-flag-fill-selected: var(--control-point-stroke-selected);
    --keyframe-flag-shadow: rgba(0,0,0,0.5);

    --timeline-select-rect-fill: var(--control-point-select-rect-fill);
    --timeline-major-gridline-stroke: hsl(var(--bg-hue), var(--bg-sat), 12%);
    --timeline-major-gridline-text: hsl(var(--bg-hue), var(--bg-sat), 2%);
    --timeline-minor-gridline-stroke: hsl(var(--bg-hue), var(--bg-sat), 16%);

    --timeline-playback-head-color: var(--control-point-stroke);

    --scrollbar-track-color: var(--background-titlebar);
    --scrollbar-thumb-color: var(--background-primary);
}

.betterscroll::-webkit-scrollbar {
    width: 1.5ex;
}

.betterscroll::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

.betterscroll::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    /* outline: 1px solid slategrey; */
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-primary);
    color: var(--text-normal);
    margin: 0;
}

*:disabled {
    /* cursor: not-allowed; */
}

div.app {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
}

div.titlebar {
    background-color: var(--background-titlebar);
    padding: 1.2ex;
    display: flex;
    gap: 3ex;
    justify-content: start;
    /* align-items: center; */
}

div.verticalrule {
    width: 1px;
    height: 100%;
    background-color: var(--background-accent);
}

div.titlebar > div.isection {
    display: flex;
    gap: 1ex;
    justify-content: start;
    align-items: center;
}
div.titlebar span.status {
    font-size: 0.9em;
    color: var(--text-low-priority);
}
div.titlebar span.icon {
    /* display: flex; */
    /* align-items: center; */
}
div.titlebar button {
    height: 100%;
}

div.mainsplitgrid {
    display: grid;
    grid-template-columns: 18% 1px 1fr 1px 30%;
    grid-template-rows: 65% 1px 35%;
    overflow: hidden;
}

div.bottom {
    grid-column: 1 / -1;
    background-color: var(--background-primary);

    display: grid;
    grid-template-columns: 15% 1px 85%;
}

div.left,
div.right,
div.bottom {
    background-color: var(--background-secondary);
}

div.center {
    background-color: var(--background-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}



div.konvastagecontainer {
    position: relative;
    overflow: hidden;
}
div.konvastagecontainer:focus:before, div.konvastagecontainer:focus:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 1px 1px var(--selected-konva-stage);
    z-index: 1;
    pointer-events: none;
}
div.konvastage {
    position: absolute;
}

div#patternstage {
    background-color: var(--pattern-background);
}

div.timeline {
    background-color: var(--background-tertiary);
}

div#timelinestage {
    background-color: var(--background-tertiary-alt);
}

div.gutter {
    background-color: var(--background-gutter);
    position: relative;
}

div.gutter::after {
    background-color: var(--hitbox);
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 50;
}

div.gutter.column::after {
    width: 8px;
    left: -4px;
}

div.gutter.row::after {
    height: 8px;
    top: -4px;
}

div.gutter.column {
    cursor: col-resize;
}

div.gutter.row {
    cursor: row-resize;
}

div.gutter.topbottom {
    grid-column: 1 / -1;
}

div.right {
    display: grid;
}
div.unifiedkeyframeeditor {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--background-tertiary);
}
div.unifiedkeyframeeditor > div.help {
    display: none;
    padding: 1.5ex;
    background-color: var(--background-tertiary-alt);
}
div.unifiedkeyframeeditor.showhelp > * {
    display: none;
}
div.unifiedkeyframeeditor.showhelp > div.help {
    display: block;
}
div.unifiedkeyframeeditor > form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-tertiary-alt);
}
div.unifiedkeyframeeditor > form > h1 {
    padding: 0.5em;
    margin: 0px;
}

div.typecontainer {
    background-color: var(--background-tertiary-alt);
    padding: 1ex;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1ex;
    align-items: center;
    border: 1px solid var(--background-titlebar);
}

div.unifiedkeyframeeditor select, div.unifiedkeyframeeditor option, input {
    color: var(--text-normal);
    background-color: var(--background-primary);
    padding: 1ex;
    border: none;
    min-width: 4ex;
}
div.unifiedkeyframeeditor option:disabled, input:disabled {
    background-color: var(--background-primary-disabled);
    color: var(--text-low-priority);
}

div.unifiedkeyframeeditor summary, div.typecontainer select, div.typecontainer option {
    font-weight: bold;
    text-transform: capitalize;
    padding: 1ex;
}

div.unifiedkeyframeeditor details {
    background-color: var(--background-tertiary-alt);
    border: 1px solid var(--background-titlebar);
    border-radius: 4px;
    padding: 1ex 1ex 0;
}

div.unifiedkeyframeeditor summary {
    margin: -1ex -1ex 0;
    background-color: var(--background-secondary);
    user-select: none;
}

div.unifiedkeyframeeditor details[open] {
    padding: 1ex;
}

div.unifiedkeyframeeditor details[open] summary {
    border-bottom: 1px solid var(--background-titlebar);
    margin-bottom: 1ex;
}

div.labelinputgrid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5ex 1ex;
    align-items: center;
    margin-bottom: 1ex;
}

div.labelinputgrid > label {
    display: contents;
}
div.labelinputgrid > label > .labeltext {
    justify-self: end;
}

span.unit {
    font-family: monospace;
    /* font-size: 1.1em; */
}

div.cjumpconfig {
    display: flex;
    flex-direction: column;
    gap: 1ex;
    /* align-items: center; */
}
div.table {
    display: grid;
    gap: 1ex;
}
div.table > div.thead {
    display: contents;
}
div.table > div.thead > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div.table > div.tbody {
    display: contents;
}
div.table > div.tbody > div, div.table > div.thead > div {
    /* display: contents; */
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr auto;
    gap: 1ex;
}
div.table button.remove {
    background-color: var(--delete-color);
}
div.table div.draghandle {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: grab;
}
div.cjumpconfig > button.add {
    /* grid-column: 1 / -1; */
    padding: 1ex
}

div.parametereditor {
    /* display: flex; */
    flex-direction: column;
    padding: 1ex;
    gap: 1ex;
    background-color: var(--background-tertiary);
    overflow: hidden auto;
    padding-bottom: 2ex;
}

div.parametereditor div.userparameters {
    display: grid;
    grid-template-columns: 1.5fr auto 1fr;
    gap: 1ex;
    align-items: center;
    justify-content: center;
}
div.parametereditor div.userparameters > div:first-child {
    font-weight: bold;
}
div.parametereditor div.userparameters > * {
    display: contents;
}
div.parametereditor div.userparameters > user-param-control span:nth-child(2) {
    font-weight: bold;
}
.hide {
    display: none;
}
div.parametereditor span.helpmsg {
    grid-column: 1 / -1;
    color: var(--text-low-priority);
}
div.parametereditor div.timecontrol {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1ex;
    align-items: center;
}
div.parametereditor div.timecontrol > label {
    display: contents;
}

div.parametereditor div.timecontrol button {
    font-size: 1.2em;
}
div.parametereditor div.timecontrol button.play {
    background-color: var(--play-color);
    color: var(--text-dark);
}
div.parametereditor div.timecontrol button.pause {
    background-color: var(--pause-color);
    color: var(--text-dark);
}

button {
    font-size: 1em;
    padding: 0.25ex 1ex;
    border: none;
    cursor: pointer;
    background-color: var(--background-primary);
    color: var(--text-normal);
}
button:disabled {
    background-color: var(--background-primary-disabled);
    color: var(--text-low-priority);
}